<%- include('partials/header.ejs') %>
<%- include('partials/top_nav.ejs') %>

<main class="container">
  <h1>About Me</h1>
  <img src="/images/your-image.jpg" alt="Your Name">
  <p>Hello! My name is Your Name. I am a skilled IT professional with a degree in Computer Science and several years of experience in the field. I specialize in web development, mobile app development, and general programming. I'm familiar with a wide range of programming languages and frameworks, including but not limited to JavaScript, Python, Java, Node.js, Express, and React. I'm also comfortable with databases like MySQL and MongoDB. I pride myself on my problem-solving skills and my ability to learn new technologies quickly. I'm passionate about creating efficient, innovative solutions that can drive growth and improve user experience.</p>

  <a href="/resume.pdf">Download Resume</a>
</main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>
