<%- include('partials/header.ejs') %>
<%- include('partials/top_nav.ejs') %>

<main class="container">
  <h1>About Me</h1>
  <img src="/images/keyboard.jpg" alt="Your Name">
  <p>Hello! I'm Lee, a recent graduate from Centennial College where I earned a diploma in Software Engineering Technician. Here's a bit about me:</p>

<ul>
    <li><strong>No Formal IT Experience:</strong> While I have no formal IT work experience yet, I've spent considerable time sharpening my skills through coursework and individual projects.</li>

    <li><strong>Areas of Expertise:</strong> My specialties lie in web development, mobile app development, and general programming.</li>

    <li><strong>Programming Skills:</strong> I have proficiency in numerous programming languages and frameworks, including but not limited to C#, JavaScript, Python, Java, Node.js, Express, and React.</li>

    <li><strong>Database Skills:</strong> I'm comfortable with databases like PL/SQL and MongoDB.</li>

    <li><strong>Problem-Solving:</strong> I pride myself on my problem-solving skills and my ability to quickly learn and adapt to new technologies.</li>

    <li><strong>Passion:</strong> I'm driven by a passion for creating efficient, innovative solutions that spur growth and improve the user experience.</li>

    <li><strong>Looking for Opportunities:</strong> Eager to apply my knowledge in a practical setting, I'm currently seeking opportunities to bring my skills to the table and learn from industry professionals.</li>
</ul>


  <a href="/Resume.pdf">Download Resume</a>
</main>

<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>
