<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

<main class="container">
  <h1>Welcome to My Portfolio</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget felis eu lectus consectetur interdum eget in elit. Cras vestibulum dignissim arcu, eu fermentum turpis sagittis a.
  </p>
  <a href="/about">About Me</a>
  <!-- Add additional buttons or links for other pages as needed -->
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
