<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

<main class="container">
  <h1>Welcome to Lee's Portfolio</h1>
  <img src="/images/myphoto.jpeg" alt="Lee's image">

  <p>Hi there! I'm Lee, a recent graduate from Centennial College with a diploma in Software Engineering Technician. My passion lies in web development, mobile app development, and general programming. Here, you can find some of the projects that I've worked on, showcasing my skills in various languages and frameworks including C#, JavaScript, Python, Java, Node.js, Express, and React.</p>
  
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
