<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

<main class="container">
  <div class="welcome-section">
    <img src="/images/welcome.jpg" alt="Welcome Image" class="welcome-image">
    <div class="welcome-content">
      <p class="welcome-message">Welcome to my personal portfolio site.</p>
    </div>
  </div>

  <div class="intro">
    <h2>About Me</h2>
    <p>I'm a software engineering technician with a passion for web and mobile app development. I've honed my skills in languages like C#, JavaScript, Python, Java, Node.js, Express, and React. Alongside programming, I also have knowledge and experience in databases like PL/SQL and MongoDB.</p>
  </div>

  <div class="projects">
    <h2>My Projects</h2>
    <p>Here, you can explore some of the projects I've completed as part of my coursework, as well as independent projects. From small-scale applications to larger, complex projects, you'll get a sense of my coding capabilities and style.</p>
  </div>

  <div class="contact">
    <h2>Contact Me</h2>
    <p>Interested in collaborating or have questions about my work? Feel free to get in touch. You can reach me through the 'Contact' link in the navigation bar.</p>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
