<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

<main class="container">
  <h1>Projects</h1>
  <div class="project">
    <img src="/images/project1.jpg" alt="Project 1">
    <h3>Project 1</h3>
    <p>
      Description of project 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget felis eu lectus consectetur interdum eget in elit.
    </p>
  </div>
  <div class="project">
    <img src="/images/project2.jpg" alt="Project 2">
    <h3>Project 2</h3>
    <p>
      Description of project 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget felis eu lectus consectetur interdum eget in elit.
    </p>
  </div>
  <div class="project">
    <img src="/images/project3.jpg" alt="Project 3">
    <h3>Project 3</h3>
    <p>
      Description of project 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget felis eu lectus consectetur interdum eget in elit.
    </p>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
