<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

<main class="container">
  <h1>Projects</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="/images/project1.jpg" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Project 1: Photo Viewer</h5>
          <p class="card-text">This project modified the Chapter 5 example (photo viewer) with several new features.</p>
          <a href="http://yourproject1.com" class="btn btn-primary">Visit Project</a>
        </div>
      </div>
    </div>
    <!-- Add more project cards here -->
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
